@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
:root {

  --clr-1: #222831;
  --clr-2: #393E46;
  --clr-3: #008d94;
  --clr-4: #EEEEEE;
  --clr-oikein: #70be51;
  --clr-vaarin: #eb6b40;
/* 
  --clr-1: #434F7A;
  --clr-2: #333F6B;
  --clr-3: #FF4A11;
  --clr-4: #FFFFFF; */

  /* --clr-1: #1B262C;
  --clr-2: #0F4C75;
  --clr-3: #3282B8;
  --clr-4: #EAEAEA; */
  
  --ff-primary: 'Poppins', sans-serif;
  --ff-seconday: 'Poppins', sans-serif;

  --clr-primary: #132152;
  --clr-secondary: rgb(146, 112, 112);
  --clr-bg: #434F7A;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: var(--ff-primary);
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--clr-1);
  min-width: 375px;
}

body,
h1,
h2,
h3,
p {
  font-family: var(--ff-primary);
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--clr-);
  font-family: var(--ff-seconday);
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

header,
section {
  padding:  0px;
  @media (min-width: 40em) {
    header,
    section {
      padding: 0px;
    }
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  max-width: 34rem;
}
.button {

  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: radial-gradient( 100% 100% at 100% 0%, var(--clr-3) 0%, var(--clr-2) 100% );
  border-radius: 1em;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin: 0.2em;
  padding: 1.5em;
  
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;

}
.button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px var(--clr-3);
      transform: translateY(-2px);
}
.button:active{
  box-shadow: inset 0px 3px 7px rgb(227, 228, 238);
  transform: translateY(2px);
}
@media all and (max-width:30em){
   .button{
    display:block;
    margin:0.2em auto;
  }
}

.wrap {
  background: var(--clr-4);
  padding: 3%;
  border-radius: 1em;
  border-style: solid;
  border-width: 0em;
}

.borderi {
  border-radius: 1em;
  border-style: solid;
  border-width: 1.5em;
  background: var(--clr-2);
  border-color: var(--clr-2);
}
.borderi-vaarin {
  border-radius: 1em;
  border-style: solid;
  border-width: 1.5em;
  background: var(--clr-vaarin);
  border-color: var(--clr-vaarin);
}
.borderi-oikein {
  border-radius: 1em;
  border-style: solid;
  border-width: 1.5em;
  background: var(--clr-oikein);
  border-color: var(--clr-oikein);
}
.kuvaikkuna {
  margin: auto;
}
.kuva {
  min-width: 300px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.nappulat {
  margin: auto;
  text-align: center;
}
.otsikko {
  margin: auto;
  text-align: center;
}

p.palaute::before{
  content: "Palaute";
  display: block;
  color: var(--clr-3);
  font-weight: bold;
  font-weight: bold;
  font-size: 21px;
  font-family: var(--ff-seconday);
}
p.tarina::before{
  content: "Tarina";
  display: block;
  color: var(--clr-3);
  font-weight: bold;
  font-size: 21px;
  font-family: var(--ff-seconday);
}
p.kysymys::before{
  content: "Kysymys";
  display: block;
  color: var(--clr-3);
  font-weight: bold;
  font-size: 21px;
  font-family: var(--ff-seconday);
}
/* p.kysymys::before {
  content: "";
  display: block;
  background: url("../icons/question.svg") no-repeat;
  width: 20px;
  height: 20px;
  float: left;
  margin: 3px 6px 0 0;
} */

